.App {
background-image: linear-gradient(to right, #C5CAE9, #19494D);
}

.App-header {
  background-color: #1B4D19;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}